.header-container {
    width: 80%;
    margin: 0 auto;
    border: solid;
}
.header-logo {
    width: 80%;
    display: block;
    margin: auto;
    border: solid;
}
.main {
    width: 80%;
    margin: 0 auto;
    border: solid;
}
